*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

img{
   margin: 2%; 
}

#my-bootstrap-grid{
    display: flex;
    width: auto;
}

#nav{
    background-color: #efc3e6;
    font-weight: bold;
}

 .container-fluid{
    background-color: #efc3e6; 
} 

.dropdown-menu{
    background-color: #efc3e6;
}


/* #collapse navbar-collapse{

} */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
li{
    background-color: #efc3e6;
    color: black;
}

  li a:hover:not(.active) {
    background-color: #efc3e6;
    color: black;
  } 
  
  .active {
    background-color: #F0A6CA;
  }

.side-nav{
    background-color: #B8BEDD;
    width: 17%;
    justify-content: left;
    height: 100vh;
    font-weight: bold;


}
.main-user-body{
    justify-content: left;
    padding-left: 5%;
    padding-top: 5%;
    background-color: #F0E6EF;
    height: 100vh;
    width: 82%;

}
.footer{
    background-color: #9c89b8;
}
.form-group{
    padding-top: 5%;
    padding-left: 5%;
}


.form-group label{
    font-weight: bold;
}

.main-body{
    background-color: #F0E6EF;
    height: 100vh;
    width: 82%;
}

.main-container{
    background-color: #F0E6EF;
    display: flex;
    height: 100vh;
}

.user-data{
    display: flex;
}

.photo{
    justify-content: left;
    padding-left: 5%;
    padding-top: 5%;
}

.info-text{
    padding-left: 5%;
    padding-top: 5%;
}
.main-text{
    padding-top: 5%;
    padding-left: 5%;

}
